seaction.advantage
    .container
        h3.advantage__title
            | Приемущества работы с нами

        .advantage__box
            .advantage__box-elem
                .advantage__box-img
                    img(src="img/Vector.png")

                .advantage__box-title
                    | Делимся оптом и навыками

                .advantage__box-descr
                    | Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем,
                    | а команда постоянно совершенствует свои знания и навыки.

            .advantage__box-elem
                .advantage__box-img
                    img(src="img/Vector.png")

                .advantage__box-title
                    | Делимся оптом и навыками

                .advantage__box-descr
                    | Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем,
                    | а команда постоянно совершенствует свои знания и навыки.

            .advantage__box-elem
                .advantage__box-img
                    img(src="img/Vector.png")

                .advantage__box-title
                    | Делимся оптом и навыками

                .advantage__box-descr
                    | Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем,
                    | а команда постоянно совершенствует свои знания и навыки.

