section.baner
    .container
        .baner__text-box
            h1.baner__title
                | Ты готов стать профессионалом?

            p.baner__descr
                | Мы ищем
                span.baner__color-text
                    | талантов
                 | и
                span.baner__color-text
                    |саппортов
                | в команду. Решите на какую категорию вы претендуете.

            .baner__button-box
                a(href="#").baner__button
                    | Заполнить анкету