section.descr
    .container
        .descr__wrapper
            .descr__box
                .descr__box-elem.descr__box-elem--right-line.descr__box-elem--bottom-line
                    .descr__box-elem-title
                        | Прокачиваем мир
                    .descr__box-elem-descr
                        | Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?

                .descr__box-elem.descr__box-elem--bottom-line
                    .descr__box-elem-title
                        | Прокачиваем мир
                    .descr__box-elem-descr
                        | Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?

                .descr__box-elem.descr__box-elem.descr__box-elem--right-line

                    .descr__box-elem-title
                        | Прокачиваем мир
                    .descr__box-elem-descr
                        | Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?

                .descr__box-elem
                    .descr__box-elem-title
                        | Прокачиваем мир
                    .descr__box-elem-descr
                        | Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?
