.callback {
  position: relative;
  float: left;
  width: 100%;
  background-color: #161616;
  padding-bottom: 120px;
  box-sizing: border-box;

  @include breakpoint(max-width 700px) {
    padding-bottom: 40px;
  }

  &__title {
    position: relative;
    margin-top: 100px;
    font-family: $DINPro;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    font-weight: 200;
    color: #FFFFFF;
    letter-spacing: -0.02em;

    @include breakpoint(max-width 700px) {
      font-size: 30px;
    }
  }

  &__form {
    position: relative;
    width: 100%;
    padding: 0 400px;
    box-sizing: border-box;

    @include breakpoint(max-width 900px) {
      padding: 0 0 0 80px;
    }
  }

  &__wrap {
    position: absolute;
    border: 1px solid gray;
    border-radius: 32px;
    width: 64px;
    height: 64px;
    top: -21px;
    left: -100px;
  }

  &__num {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #F47821;
    top: 20px;
    left: 26px;
  }

  &__label {
    position: relative;
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.01em;
    font-family: $DINPro;
    color: #FFFFFF;
  }

  &__input {
    position: relative;
    float: left;
    width: 100%;
    font-family: $Roboto;
    margin-top: 24px;
    margin-bottom: 64px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.3;
    border-bottom: 1px solid #F7F8FA;
    resize: none;

    @include breakpoint(max-width 700px) {
      font-size: 16px;
    }
  }

  &__submit {
    position: relative;
    width: 100%;
    border: none;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 111px;
    padding: 20px 0;
    font-size: 14px;
    font-family: $Girloy;
    line-height: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #F47821;
  }
}

.error {
  border-bottom: 1px solid red;
  border-radius: 10px;
}

.not_error {
  border-bottom: 1px solid green;
  border-radius: 10px;
}

.modal {
  display: block;
  position: fixed;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal__body {
  display: flex;
  flex-direction: column;
  align-content: center;
  pointer-events: auto;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
  position: relative;
  top: 35%;
  background-color: #fefefe;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;

  @include breakpoint(max-width 600px) {
    width: 60%;
  }

  @include breakpoint(max-width 550px) {
    width: 90%;
  }
}

.modal__close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

.modal__title {
  font-family: $DINPro;
  font-size: 18px;
  color: #4A4556;
  width: 100%;
  text-align: center;
}
